[core]
  pager = delta

[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = Dracula
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28

[grep]
  lineNumber = true

[push]
  default = current

[user]
    email = weinong@outlook.com
    name = Weinong Wang
    signingkey = C5C678C298463D9F

[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe

[init]
    defaultBranch = main

[credential "https://dev.azure.com"]
    useHttpPath = true

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg]
    program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe
